@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    display: none;
    /* For Webkit browsers */
  }

  * {
    scrollbar-width: none;
  }

  body {
    @apply font-primary bg-primary text-white leading-loose;
  }

  .h1 {
    @apply text-[48px] lg:text-[75px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] lg:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] lg:text-[24px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }

  .http_code {
    -webkit-text-stroke: 2px #00ff99;
    transition: all 0.5s;
  }

  .http_code:hover {
    -webkit-text-stroke: 2px #ff0099;
  }

  :root {
    --radius: 0.5rem;
  }
}